@import "@/Components/params.scss";

.img {
    display: block;
    margin: $margin; 
    float: right;

    @media (max-width: 500px) {
        margin: 0;
        float: none;
        width: 100%;
        min-width: 100px;
        height: auto;
    }
}

.block {
    padding: $padding-vertical $padding-horizontal;

    @media (max-width: $max-media-px) {
        padding: 0;
    }
}